// this is just a random input file
// to demonstrate what is expected for the I/O script


// first input variable to be changed
<my_first_variable>
  <xml>0.9876</xml>
</my_first_variable>

...
more input
variables
go here
...

// and a second variable (we will change "var2")
{
  "a-json-tree": {
    "title": "random-data",
    "hello": "how are you",
    "data-table": {
      "var1": "1.234",
      "var2": "2.345",
      "var3": "3.456",
    }
  }
}

...
more input
variables
go here
...



